Flask==3.0.3
gymnasium==0.29.1
matplotlib==3.9.2
numpy==2.1.2
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.3
python-dotenv==1.0.1
roboflow==1.1.48
scikit_learn==1.5.2
stable_baselines3==2.3.2
torch==2.5.0+cu118
Werkzeug==3.0.6
