<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoreConstruct</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">

</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}
                <span class="close" onclick="closeFlashMessage(this)">&times;</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png')}}" alt="CoreConstruct Logo">
            </a>
        </div>


        <div class="container">
            <div class="project-title">
                <h1 id="project-title" contenteditable="true" spellcheck="false">Untitled Project.cct</h1>

                <div class="menu">
                    <button type="button">Edit</button>
                    <button type="button" class="open" onclick="getFoundationPlan()">
                        <label for="foundation-plan" class="foundation-plan-upload">
                            Open <input id="foundation-plan" type="file" accept="image/*, .cct" />
                        </label>
                    </button>
                    <button type="button" onclick="saveFoundationPlan()">
                        Save
                    </button>
                    <button type="button" onclick="saveAsFoundationPlan()">
                        Save As
                    </button>
                    <div class="section">
                        <div id="saveAsModal" class="modal" style="display:none;">
                            <div class="modal-content">
                                <h3>Select File Type</h3>
                                <h4><i>Save As</i></h4>
                                <select id="file-type-selector">
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPEG</option>
                                    <option value="CCT">CCT</option>
                                </select>
                                <br><br>
                                <button type="button" onclick="confirmSaveAs()">Confirm</button>
                                <button type="button" onclick="closeModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toolbar">
                <button type="button">Add Column</button>
                <button type="button">Add Wall</button>
            </div>
        </div>
    </div>
    <div class="workspace">
        <div class="manual-input">
            <div class="workspace-header">
                <h3>INPUT PARAMETERS</h3>
            </div>
            <form action="/analyze_generate" method="POST" enctype="multipart/form-data"style="overflow: hidden; max-width: 100%; max-height: 100%;">
                <div class="input-specs">
                    <table>
                        <tr>
                            <td>
                                <label for="floor-plan">Upload Top/Plan View Floor Plan</label>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-input">
                                <div class="file-container">
                                    <input type="file" id="floor-plan" name="floor-plan" accept="image/*">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="specs">
                        <button type="button" onclick="toggleFields('soilProperties', 'arrowSoilProperties')">
                            <div id="arrowSoilProperties" class="arrow"></div>
                            Soil Properties
                        </button><br>

                        {# Soil Properties #}
                        <div id="soilProperties" class="input-fields">

                            <div class="section">
                                <button type="button" onclick="toggleFields('soilType', 'arrowSoilType')" class="indented-button">
                                    <div id="arrowSoilType" class="arrow"></div>
                                    Soil Type
                                </button>

                                <div class="section">
                                    <div class="select-group" id="soilType">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Soil Type*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="soilType">
                                            <input type="radio" id="clay" name="soilType" value="clay" class="option">
                                            <label for="clay" class="select-item">Clay</label>

                                            <input type="radio" id="silt" name="soilType" value="silt" class="option">
                                            <label for="silt" class="select-item">Silt</label>

                                            <input type="radio" id="loam" name="soilType" value="loam" class="option">
                                            <label for="loam" class="select-item">Loam</label>

                                            <input type="radio" id="sand" name="soilType" value="sand" class="option">
                                            <label for="sand" class="select-item">Sand</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button type="button" onclick="toggleFields('buildingInfo', 'arrowBuildingInfo')">
                            <div id="arrowBuildingInfo" class="arrow"></div>
                            Building Information
                        </button><br>

                        <div id="buildingInfo" class="input-fields">

                            <div class="section">
                                <button type="button" onclick="toggleFields('buildingType', 'arrowBuildingType')" class="indented-button">
                                    <div id="arrowBuildingType" class="arrow"></div>
                                    Building Type
                                </button>

                                <div class="section">
                                    <div class="select-group" id="buildingType">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Building Type*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="buildingType">
                                            <input type="radio" id="residential" name="buildingType" value="residential"
                                                class="option">
                                            <label for="residential" class="select-item">Residential</label>

                                            <input type="radio" id="commercial" name="buildingType" value="commercial"
                                                class="option">
                                            <label for="commercial" class="select-item">Commercial</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">
                                <button type="button" onclick="toggleFields('numStorey', 'arrowNumStorey')" class="indented-button">
                                    <div id="arrowNumStorey" class="arrow"></div>
                                    Number of Storeys
                                </button>

                                <div class="section">
                                    <div class="select-group" id="numStorey">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Number of Storey*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="buildingType">
                                            <input type="radio" id="1storey" name="numStorey" value="1storey"
                                                class="option">
                                            <label for="1storey" class="select-item">1-storey Building</label>

                                            <input type="radio" id="2storey" name="numStorey" value="2storey"
                                                class="option">
                                            <label for="2storey" class="select-item">2-storey Building</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">

                                <button type="button" onclick="toggleFields('materialSpecs', 'arrowMaterialSpecs')" class="indented-button">
                                    <div id="arrowMaterialSpecs" class="arrow"></div>
                                    Material Specifications
                                </button>

                                <div class="section">
                                    <div class="select-group" id="materialSpecs">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Material Specs*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="materialSpecs">
                                            <input type="radio" id="steel" name="materialSpecs" value="steel"
                                                class="option">
                                            <label for="steel" class="select-item">Steel</label>

                                            <input type="radio" id="wood-lm" name="materialSpecs" value="wood-lm"
                                                class="option">
                                            <label for="wood-lm" class="select-item">Wood and/or Light Materials</label>

                                            <input type="radio" id="rc" name="materialSpecs" value="rc" class="option">
                                            <label for="rc" class="select-item">Reinforced Concrete</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button onclick="toggleFields('reinforcementDetail', 'arrowReinforcementDetail')" type="button">
                            <div id="arrowReinforcementDetail" class="arrow"></div>
                            Reinforcement Detail
                        </button><br>
    
                        <div id="reinforcementDetail" class="input-fields">

                            <div class="section">
                                <button type="button" onclick="toggleFields('barSize', 'arrowReinforcementDetail')" class="indented-button">
                                    <div id="arrowReinforcementDetail" class="arrow"></div>
                                    Bar Size
                                </button>
                        
                                <div class="section">
                                    <div class="select-group" id="barSize">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Bar Size*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="barSize">
                                            <input type="radio" id="10mm" name="barSize" value="10mm" class="option">
                                            <label for="10mm" class="select-item">10mm</label>
                        
                                            <input type="radio" id="12mm" name="barSize" value="12mm" class="option">
                                            <label for="12mm" class="select-item">12mm</label>
                        
                                            <input type="radio" id="16mm" name="barSize" value="16mm" class="option">
                                            <label for="16mm" class="select-item">16mm</label>
                        
                                            <input type="radio" id="20mm" name="barSize" value="20mm" class="option">
                                            <label for="20mm" class="select-item">20mm</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>


                <div class="generate-btn">
                    <button type="submit">Analyze & Generate</button>
                </div>
            </form>

        </div>

        <div class="main">
            <div class="content" id="content">
                <img src="" alt="Generated Plan" id="generated-image"
                    style="display: none; max-width: 100%; height: auto;" />
                <p id="no-plan-message">No plan generated yet. Please input values and click the button to analyze &
                    generate.</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>