<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoreConstruct</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico')}}">

</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash-messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}
                <span class="close" onclick="closeFlashMessage(this)">&times;</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="{{ url_for('static', filename='logo.png')}}" alt="CoreConstruct Logo">
            </a>
        </div>


        <div class="container">
            <div class="project-title">
                <h1 id="project-title" contenteditable="true" spellcheck="false">Untitled Project.cct</h1>

                <div class="menu">
                    <button type="button">Edit</button>
                    <button type="button" class="open" onclick="getFoundationPlan()">
                        <label for="foundation-plan" class="foundation-plan-upload">
                            Open <input id="foundation-plan" type="file" accept="image/*, .cct" />
                        </label>
                    </button>
                    <button type="button" onclick="saveFoundationPlan()">
                        Save
                    </button>
                    <button type="button" onclick="saveAsFoundationPlan()">
                        Save As
                    </button>
                    <div class="section">
                        <div id="saveAsModal" class="modal" style="display:none;">
                            <div class="modal-content">
                                <h3>Select File Type</h3>
                                <h4><i>Save As</i></h4>
                                <select id="file-type-selector">
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPEG</option>
                                    <option value="CCT">CCT</option>
                                </select>
                                <br><br>
                                <button type="button" onclick="confirmSaveAs()">Confirm</button>
                                <button type="button" onclick="closeModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="toolbar">
                <button type="button">Add Column</button>
                <button type="button">Add Wall</button>
            </div>
        </div>
    </div>
    <div class="workspace">
        <div class="manual-input">
            <div class="workspace-header">
                <h3>INPUT PARAMETERS</h3>
            </div>
            <form action="/analyze_generate" method="POST" enctype="multipart/form-data"
                style="overflow: hidden; max-width: 100%; max-height: 100%;">
                <div class="input-specs">
                    <table>
                        <tr>
                            <td>
                                <label for="floor-plan">Upload Top/Plan View Floor Plan</label>
                            </td>
                        </tr>

                        <tr>
                            <td class="td-input">
                                <div class="file-container">
                                    <input type="file" id="floor-plan" name="floor-plan" accept="image/*">
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="specs">
                        <button type="button" onclick="toggleFields('locationProperties', 'arrowLocationProperties')">
                            <div id="arrowLocationProperties" class="arrow"></div>
                            Location
                        </button><br>

                        <div class="section">
                            <div class="select-group" id="locationProperties">
                                <button type="button" id="button" class="button">
                                    <span id="select-label">Select Location</span>
                                    <div id="arrow" class="arrow"></div>
                                </button>
                                <div class="dropdown hidden" id="location">
                                    <input type="radio" id="metroManila" name="location" value="metroManila"
                                        class="option">
                                    <label for="metroManila" class="select-item">Metro Manila</label>

                                    <input type="radio" id="Cebu" name="location" value="Cebu" class="option">
                                    <label for="Cebu" class="select-item">Cebu</label>

                                    <input type="radio" id="Palawan" name="location" value="Palawan" class="option">
                                    <label for="Palawan" class="select-item">Palawan</label>

                                    <input type="radio" id="Davao" name="location" value="Davao" class="option">
                                    <label for="Davao" class="select-item">Davao</label>

                                    <input type="radio" id="Batanes" name="location" value="Batanes" class="option">
                                    <label for="Batanes" class="select-item">Batanes</label>

                                    <input type="radio" id="Iloilo" name="location" value="Iloilo" class="option">
                                    <label for="Iloilo" class="select-item">Iloilo</label>

                                    <input type="radio" id="Leyte" name="location" value="Leyte" class="option">
                                    <label for="Leyte" class="select-item">Leyte</label>

                                    <input type="radio" id="Zamboanga" name="location" value="Zamboanga" class="option">
                                    <label for="Zamboanga" class="select-item">Zamboanga</label>

                                    <input type="radio" id="Pangasinan" name="location" value="Pangasinan"
                                        class="option">
                                    <label for="Pangasinan" class="select-item">Pangasinan</label>

                                    <input type="radio" id="Cagayan" name="location" value="Cagayan" class="option">
                                    <label for="Cagayan" class="select-item">Cagayan</label>

                                    <input type="radio" id="negrosOccidental" name="location" value="negrosOccidental"
                                        class="option">
                                    <label for="negrosOccidental" class="select-item">Negros Occidental</label>

                                    <input type="radio" id="Bukidnon" name="location" value="Bukidnon" class="option">
                                    <label for="Bukidnon" class="select-item">Bukidnon</label>

                                    <input type="radio" id="Surigao" name="location" value="Surigao" class="option">
                                    <label for="Surigao" class="select-item">Surigao</label>

                                    <input type="radio" id="ilocosNorte" name="location" value="ilocosNorte"
                                        class="option">
                                    <label for="ilocosNorte" class="select-item">Ilocos Norte</label>

                                    <input type="radio" id="misamisOriental" name="location" value="misamisOriental"
                                        class="option">
                                    <label for="misamisOriental" class="select-item">Misamis Oriental</label>

                                    <input type="radio" id="Benguet" name="location" value="Benguet" class="option">
                                    <label for="Benguet" class="select-item">Benguet</label>

                                    <input type="radio" id="Batangas" name="location" value="Batangas" class="option">
                                    <label for="Batangas" class="select-item">Batangas</label>

                                    <input type="radio" id="Quezon" name="location" value="Quezon" class="option">
                                    <label for="Quezon" class="select-item">Quezon</label>

                                    <input type="radio" id="Albay" name="location" value="Albay" class="option">
                                    <label for="Albay" class="select-item">Albay</label>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->

                        <button type="button" onclick="toggleFields('buildingInfo', 'arrowBuildingInfo')">
                            <div id="arrowBuildingInfo" class="arrow"></div>
                            Building Information
                        </button><br>

                        <div id="buildingInfo" class="input-fields">

                            <div class="section">
                                <button type="button" onclick="toggleFields('buildingType', 'arrowBuildingType')"
                                    class="indented-button">
                                    <div id="arrowBuildingType" class="arrow"></div>
                                    Building Type
                                </button>

                                <div class="section">
                                    <div class="select-group" id="buildingType">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Building Type*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="buildingType">
                                            <input type="radio" id="residential" name="buildingType" value="residential"
                                                class="option">
                                            <label for="residential" class="select-item">Residential</label>

                                            <input type="radio" id="commercial" name="buildingType" value="commercial"
                                                class="option">
                                            <label for="commercial" class="select-item">Commercial</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">
                                <button type="button" onclick="toggleFields('numStorey', 'arrowNumStorey')"
                                    class="indented-button">
                                    <div id="arrowNumStorey" class="arrow"></div>
                                    Number of Storeys
                                </button>

                                <div class="section">
                                    <div class="select-group" id="numStorey">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Number of Storey*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="numStorey">
                                            <input type="radio" id="1storey" name="numStorey" value="1storey"
                                                class="option">
                                            <label for="1storey" class="select-item">1-storey Building</label>

                                            <input type="radio" id="2storey" name="numStorey" value="2storey"
                                                class="option">
                                            <label for="2storey" class="select-item">2-storey Building</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">

                                <button type="button" onclick="toggleFields('materialSpecs', 'arrowMaterialSpecs')"
                                    class="indented-button">
                                    <div id="arrowMaterialSpecs" class="arrow"></div>
                                    Material Specifications
                                </button>

                                <div class="section">
                                    <div class="select-group" id="materialSpecs">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Material Specs*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="materialSpecs">
                                            <input type="radio" id="steel" name="materialSpecs" value="steel"
                                                class="option">
                                            <label for="steel" class="select-item">Steel</label>

                                            <input type="radio" id="wood-lm" name="materialSpecs" value="wood-lm"
                                                class="option">
                                            <label for="wood-lm" class="select-item">Wood and/or Light Materials</label>

                                            <input type="radio" id="rc" name="materialSpecs" value="rc" class="option">
                                            <label for="rc" class="select-item">Reinforced Concrete</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">
                                <button type="button" onclick="toggleFields('roofType', 'arrowRoofType')"
                                    class="indented-button">
                                    <div id="arrowRoofType" class="arrow"></div>
                                    Roof Type
                                </button>

                                <div class="section">
                                    <div class="select-group" id="roofType">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Roof Type*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="roofType">
                                            <input type="radio" id="flat" name="roofType" value="flat" class="option">
                                            <label for="flat" class="select-item">Flat</label>

                                            <input type="radio" id="sloped" name="roofType" value="sloped"
                                                class="option">
                                            <label for="sloped" class="select-item">Sloped</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="section">
                                <button type="button" onclick="toggleFields('roofPitch', 'arrowRoofPitch')"
                                    class="indented-button">
                                    <div id="arrowRoofPitch" class="arrow"></div>
                                    Roof Pitch
                                </button>

                                <div class="section">
                                    <div class="select-group" id="roofPitch">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Roof Pitch*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="roofPitch">
                                            <input type="radio" id="fourOverTwelve" name="roofPitch"
                                                value="fourOverTwelve" class="option">
                                            <label for="fourOverTwelve" class="select-item">4/12</label>

                                            <input type="radio" id="sixOverTwelve" name="roofPitch"
                                                value="sixOverTwelve" class="option">
                                            <label for="sixOverTwelve" class="select-item">6/12</label>

                                            <input type="radio" id="eightOverTwelve" name="roofPitch"
                                                value="eightOverTwelve" class="option">
                                            <label for="eightOverTwelve" class="select-item">8/12</label>

                                            <input type="radio" id="twelveOverTwelve" name="roofPitch"
                                                value="twelveOverTwelve" class="option">
                                            <label for="twelveOverTwelve" class="select-item">12/12</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button onclick="toggleFields('reinforcementDetail', 'arrowReinforcementDetail')" type="button">
                            <div id="arrowReinforcementDetail" class="arrow"></div>
                            Reinforcement Detail
                        </button><br>

                        <div id="reinforcementDetail" class="input-fields">

                            <div class="section">
                                <button type="button" onclick="toggleFields('barSize', 'arrowBarSize')"
                                    class="indented-button">
                                    <div id="arrowBarSize" class="arrow"></div>
                                    Bar Size
                                </button>

                                <div class="section">
                                    <div class="select-group" id="barSize">
                                        <button type="button" id="button" class="button">
                                            <span id="select-label">Select Bar Size*</span>
                                            <div id="arrow" class="arrow"></div>
                                        </button>
                                        <div class="dropdown hidden" id="barSize">
                                            <input type="radio" id="10mm" name="barSize" value="10mm" class="option">
                                            <label for="10mm" class="select-item">10mm</label>

                                            <input type="radio" id="12mm" name="barSize" value="12mm" class="option">
                                            <label for="12mm" class="select-item">12mm</label>

                                            <input type="radio" id="16mm" name="barSize" value="16mm" class="option">
                                            <label for="16mm" class="select-item">16mm</label>

                                            <input type="radio" id="20mm" name="barSize" value="20mm" class="option">
                                            <label for="20mm" class="select-item">20mm</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="generate-btn">
                    <button type="submit">Analyze & Generate</button>
                </div>
            </form>

        </div>

        <div class="main">
            <div class="content" id="content">
                <img src="" alt="Generated Plan" id="generated-image"
                    style="display: none; max-width: 100%; height: auto;" />
                <p id="no-plan-message">No plan generated yet. Please input values and click the button to analyze &
                    generate.</p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>